altgraph==0.17.4
bitarray==2.9.2
cffi==1.16.0
colorama==0.4.6
crcmod==1.7
et-xmlfile==1.1.0
exceptiongroup==1.2.0
gmssl==3.2.2
iniconfig==2.0.0
lizard==1.17.10
openpyxl==3.1.2
packaging==23.2
pefile==2023.2.7
pluggy==1.4.0
Pycparser==2.21
Pycryptodomex==3.20.0
Pygments==2.17.2
Pyinstaller==6.3.0
Pyinstaller-hooks-contrib==2024.0
Pyserial==3.5
pytest==8.0.0
Pywin32-ctypes==0.2.2
setuptools==69.0.3
tomli==2.0.1
tongsuopy==1.0.1
allure-pytest==2.13.5
allure-python-commons==2.13.5